<!DOCTYPE html>
<html lang="en" class="min-w-80 text-body-dark dark:text-body-light font-sans">
  <%- include('../partials/head') %>
  <body
    class="bg-light dark:bg-dark grid h-screen grid-rows-[auto_1fr] sm:grid-cols-[auto_1fr] sm:grid-rows-[auto_1fr]"
    <% if (flash.showModal) { %>
      data-show-modal="<%= flash.showModal %>"
    <% } %>
  >
    <!--prettier-ignore-->
    <%- include('../partials/sidebar') %>
    <%- include('../partials/header') %>
    <main class="relative flex h-full overflow-hidden">
      <%- include('../partials/flash') %>
      <%- body %>
    </main>
    <%- include('../partials/dialogs') %>

    <script src="/js/darkModeToggle.js"></script>
    <script src="/js/showModalCheck.js" defer></script>
    <script src="/js/initItemActionButtons.js" defer></script>
    <script src="/js/uploadNameCheckbox.js" defer></script>
    <script src="/js/flashAutoHide.js" defer></script>

  </body>
</html>
