<div class="flex w-[10%] items-center justify-center">
  <button
    id="<%= item.type %>-<%= item.id %>"
    data-dropdown-toggle="dropdown-options-<%= item.type %>-<%= item.id %>"
    type="button"
    class="text-body bg-neutral-primary-soft border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary-soft inline-flex h-full w-9 items-center justify-center rounded-sm border text-sm font-medium leading-5 focus:outline-none"
  >
    <svg
      class="h-6 w-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="M12 6h.01M12 12h.01M12 18h.01"
      />
    </svg>
  </button>
  <div
    id="dropdown-options-<%= item.type %>-<%= item.id %>"
    class="bg-neutral-primary-medium border-default-medium rounded-base z-10 block hidden w-36 border shadow-lg"
  >
    <ul
      class="text-body p-2 text-sm font-medium"
      aria-labelledby="dropdownMessages"
    >
      <li>
        <button
          data-modal-target="edit-name-modal"
          data-modal-toggle="edit-name-modal"
          data-edit-item-name
          data-edit-item-name-path="<%= item.type === 'file' ? `/files/${item.id}/edit/name` : `/folders/${item.id}/edit/name` %>"
          type="button"
          class="hover:bg-neutral-tertiary-medium hover:text-heading inline-flex w-full items-center rounded p-2"
        >
          Rename
        </button>
      </li>
      <li>
        <button
          data-modal-target="edit-favorite-confirm-modal"
          data-modal-toggle="edit-favorite-confirm-modal"
          data-edit-item-favorite
          data-edit-item-favorite-path="<%= item.type === 'file' ? `/files/${item.id}/edit/favorite` : `/folders/${item.id}/edit/favorite` %>"
          data-edit-item-favorite-msg="<%= item.favorite ? `Remove ${item.name} from favorites?` : `Add ${item.name} to favorites?` %>"
          type="button"
          class="hover:bg-neutral-tertiary-medium hover:text-heading inline-flex w-full items-center rounded-md p-2"
        >
          <%= item.favorite ? 'Unfavorite' : 'Favorite' %>
        </button>
      </li>
      <li>
        <button
          data-modal-target="edit-location-modal"
          data-modal-toggle="edit-location-modal"
          data-edit-item-location
          data-edit-item-location-path="<%= item.type === 'file' ? `/files/${item.id}/edit/location` : `/folders/${item.id}/edit/location` %>"
          type="button"
          class="hover:bg-neutral-tertiary-medium hover:text-heading inline-flex w-full items-center rounded-md p-2"
        >
          Move
        </button>
      </li>
      <% if (item.type === 'file') { %>
      <li>
        <button
          data-modal-target="download-confirm-modal"
          data-modal-toggle="download-confirm-modal"
          data-download-confirm
          data-download-confirm-path="/files/<%= item.id %>/download"
          data-download-confirm-msg="Are you sure you want to download <%= item.name %>?"
          type="button"
          class="hover:bg-neutral-tertiary-medium hover:text-heading inline-flex w-full items-center rounded-md p-2"
        >
          Download
        </button>
      </li>
      <% } %>
      <li>
        <button
          data-modal-target="delete-item-confirm-modal"
          data-modal-toggle="delete-item-confirm-modal"
          data-delete-confirm
          data-delete-confirm-path="<%= item.type === 'file' ? `/files/${item.id}/delete` : `/folders/${item.id}/delete` %>"
          type="button"
          class="hover:bg-neutral-tertiary-medium hover:text-heading inline-flex w-full items-center rounded-md p-2"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
