<div>
  <div class="flex items-center justify-center">
    <button
      id="avatarButton"
      type="button"
      data-dropdown-toggle="userDropdown"
      data-dropdown-placement="bottom-end"
      class="h-10 w-10 rounded-sm p-0"
      aria-label="User menu"
    >
      <img
        class="h-full w-full rounded-sm object-cover"
        src="<%= currentUser.hasPic ? getImageUrl(currentUser.username, currentUser.picVersion) : '/images/placeholder-user.png' %>"
        alt="<%= currentUser.first %> <%= currentUser.last %>"
      />
    </button>
  </div>

  <!-- Dropdown menu -->
  <div id="userDropdown" class="dropdown-menu hidden w-[180px]">
    <div class="px-4 py-3 text-sm">
      <div class="truncate font-medium">
        <%= currentUser.first + ' ' + currentUser.last %>
      </div>
      <div class="text-helper mt-0.5 truncate">
        @<%= currentUser.username %>
      </div>
    </div>
    <ul aria-labelledby="avatarButton">
      <li>
        <button
          data-modal-target="edit-profile-modal"
          data-modal-toggle="edit-profile-modal"
          type="button"
          class=""
        >
          Edit Profile
        </button>
      </li>
      <li>
        <button
          data-modal-target="log-out-confirm-modal"
          data-modal-toggle="log-out-confirm-modal"
          type="button"
          class=""
        >
          Log Out
        </button>
      </li>
      <li>
        <button
          data-modal-target="delete-account-confirm-modal"
          data-modal-toggle="delete-account-confirm-modal"
          type="button"
          class="hover:text-fg-danger-strong hover:bg-danger-soft"
        >
          Delete Account
        </button>
      </li>
    </ul>
  </div>
</div>
