<div class="flex items-center justify-center">
  <button
    id="<%= context %>-<%= item.type %>-<%= item.id %>"
    data-dropdown-toggle="dropdown-options-<%= context %>-<%= item.type %>-<%= item.id %>"
    type="button"
    class="button-icon hover:bg-light-softer dark:hover:bg-dark-softer p-1"
    aria-label="Options for <%= item.name %>"
  >
    <svg
      class="h-6 w-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="M12 6h.01M12 12h.01M12 18h.01"
      />
    </svg>
  </button>
  <div
    id="dropdown-options-<%= context %>-<%= item.type %>-<%= item.id %>"
    class="dropdown-menu z-4 hidden w-36"
  >
    <ul
      class=""
      aria-labelledby="<%= context %>-<%= item.type %>-<%= item.id %>"
    >
      <li>
        <button
          data-modal-target="edit-name-modal"
          data-modal-toggle="edit-name-modal"
          data-edit-item-name
          data-edit-item-name-path="<%= item.type === 'file' ? `/files/${item.id}/edit/name` : `/folders/${item.id}/edit/name` %>"
          data-edit-item-name-value="<%= item.name %>"
          type="button"
          class=""
        >
          Rename
        </button>
      </li>
      <li>
        <button
          data-modal-target="edit-favorite-confirm-modal"
          data-modal-toggle="edit-favorite-confirm-modal"
          data-edit-item-favorite
          data-edit-item-favorite-path="<%= item.type === 'file' || currentPage === 'recent' ? `/files/${item.id}/edit/favorite` : `/folders/${item.id}/edit/favorite` %>"
          data-edit-item-favorite-msg="<%= item.favorite ? `Remove ${truncateString(item.name)} from favorites?` : `Add ${truncateString(item.name)} to favorites?` %>"
          type="button"
          class=""
        >
          <%= item.favorite ? 'Unfavorite' : 'Favorite' %>
        </button>
      </li>
      <li>
        <button
          data-modal-target="edit-location-modal"
          data-modal-toggle="edit-location-modal"
          data-edit-item-location
          data-edit-item-location-path="<%= item.type === 'file' ? `/files/${item.id}/edit/location` : `/folders/${item.id}/edit/location` %>"
          data-edit-item-location-value="<%= item.parentId || item.folderId %>"
          type="button"
          class=""
        >
          Move
        </button>
      </li>
      <% if (item.type === 'file' || item.type === undefined) { %>
      <li>
        <button
          data-modal-target="download-confirm-modal"
          data-modal-toggle="download-confirm-modal"
          data-download-confirm
          data-download-confirm-path="/files/<%= item.id %>/download"
          data-download-confirm-msg="Are you sure you want to download <%= truncateString(item.name) %>?"
          type="button"
          class=""
        >
          Download
        </button>
      </li>
      <% } %>
      <li>
        <button
          data-modal-target="delete-item-confirm-modal"
          data-modal-toggle="delete-item-confirm-modal"
          data-delete-confirm
          data-delete-confirm-path="<%= item.type === 'file' ? `/files/${item.id}/delete` : `/folders/${item.id}/delete` %>"
          data-delete-confirm-msg="Are you sure you want to delete <%= truncateString(item.name) %><%= item.type === 'folder' ? ' and its content' : '' %>?"
          type="button"
          class=""
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
