<div id="container-list-items">
  <table class="hidden lg:table lg:w-full lg:table-fixed">
    <thead class="">
      <tr class="hover:bg-inherit dark:hover:bg-inherit">
        <th class="w-[40%]">Name</th>
        <th class="w-[15%]">Size</th>
        <th class="w-[15%]">Format</th>
        <th class="w-[25%]">Last Updated</th>
        <th class="w-[5%]"></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(item => { %>
      <tr class="<%= item.type === 'folder' ? 'cursor-pointer' : '' %>"
          <% if (item.type === 'folder') { %>
            onclick="window.location.href='/folders/<%= item.id %>'"
          <% } %>>
        <td>
          <% if (item.type === 'folder') { %>
            <a href="/folders/<%= item.id %>" class="flex items-center gap-2" onclick="event.stopPropagation()">
              <%- include('../components/icon-folder', {size: 'large'}) %>
              <span class="font-semibold flex gap-2 items-center min-w-0">
                <span class="truncate min-w-0"><%= item.name %></span>
                <% if (item.favorite) { %>
                  <%- include('../components/icon-star') %>
                <% } %>
              </span>
            </a>
          <% } else { %>
            <div class="flex items-center gap-2">
              <%- include('../components/icon-file', {size: 'large'}) %>
              <span class="font-semibold flex gap-2 items-center min-w-0">
                <span class="truncate min-w-0"><%= item.name %></span>
                <% if (item.favorite) { %>
                  <%- include('../components/icon-star') %>
                <% } %>
              </span>
            </div>
          <% } %>
        </td>
        <td class="text-sm">
          <% if (item.format !== null) { %>
            <%= (Number(item.size) / 1048576).toFixed(2) %> MB
          <% } %>
        </td>
        <td class="text-sm">
          <% if (item.format !== null) { %>
            <%= item.format.toUpperCase() %>
          <% } %>
        </td>
        <td class="text-sm"><%= formatDate(item.updatedAt) %></td>
        <td onclick="event.stopPropagation()">
          <%- include('../components/dropdown-item', {item, context: 'table'}) %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <ul class="flex flex-col gap-2 lg:hidden">
  <% items.forEach(item => { %>
    <li class="flex justify-between items-center">

      <!--prettier-ignore-->
      <% if (item.type === 'folder') { %>
        <a href="/folders/<%= item.id %>" class="flex min-w-0 flex-1 gap-2 items-center justify-between p-2">
      <% } else { %>
        <div class="flex min-w-0 flex-1 gap-2 items-center justify-between p-2">
      <% } %>

          <div class="flex min-w-0 flex-1 gap-2 items-center">
            <div class="flex items-center">
              <!--prettier-ignore-->
              <% if (item.type === 'folder') { %> 
                <%- include('../components/icon-folder', {size: 'large'}) %> 
              <% } else { %> 
                <%- include('../components/icon-file', {size: 'large'}) %> 
              <% } %>
            </div>
            <div class="min-w-0">
              <h3 class="font-semibold flex gap-1 xs:gap-2 items-center min-w-0 text-sm xs:text-base"><span class="sr-only">Name: </span>
                <span class="truncate min-w-0"><%= item.name %></span>
                <% if (item.favorite) { %>
                  <%- include('../components/icon-star') %>
                <% } %>
              </h3>
              <% if (item.format !== null) { %>
              <div class="flex gap-1 text-sm">
                <p class="hidden xs:block"><span class="sr-only">Size: </span><%= (Number(item.size) / 1048576).toFixed(2) %> MB</p>
                <p class="block xs:hidden"><span class="sr-only">Size: </span><%= (Number(item.size) / 1048576).toFixed(0) %> MB</p>
                <span>·</span>
                <p><span class="sr-only">Format: </span><%= item.format.toUpperCase() %></p>
              </div>
              <span></span>
              <% } %>
            </div>
          </div>
          <p class="shrink-0 whitespace-nowrap min-w-[100px] w-[30%] xs:w-[35%] flex flex-col items-start text-sm">
            <span class="font-medium">Last updated:</span>
            <%= formatDate(item.updatedAt) %>
          </p>

    <!--prettier-ignore-->
    <% if (item.type === 'folder') { %>
      </a>
    <% } else { %>
      </div>
    <% } %>
      <div class="flex justify-center items-center p-2 min-w-3">
        <%- include('../components/dropdown-item', {item, context: 'list'}) %>
      </div>

    </li>
  <% }); %>
</ul>
</div>

