<form action="/folders/create" method="post" class="container-form">
  <!--prettier-ignore-->
  <%- include('../components/form-hidden-input') %>
  <%- include('../components/form-errors') %>
  <div class="input-text">
    <label class="style-required" for="newFolderName">Name:</label>
    <input
      type="text"
      id="newFolderName"
      name="itemName"
      class=""
      placeholder="newFolder123"
      aria-describedby="form-errors"
      value="<%= flash.formData?.newFolderName%>"
      maxlength="50"
      required
    />
  </div>
  <div class="input-select">
    <label class="style-required" for="parentId">Location:</label>
    <select id="parentId" name="parentId" class="">
      <option value="" selected>Home</option>
      <hr />
      <optgroup label="Recent Folders">
        <% folderList.forEach(folder => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
        <% }); %>
      </optgroup>
    </select>
  </div>
  <div class="button-group">
    <button
      data-modal-hide="create-folder-modal"
      type="button"
      class="button-cancel"
    >
      Cancel
    </button>
    <button type="submit" class="button-submit-neutral">Submit</button>
  </div>
</form>
