<form
  action="/user/edit"
  method="post"
  enctype="multipart/form-data"
  class="container-form"
>
  <!--prettier-ignore-->
  <%- include('../components/form-hidden-input') %>
  <%- include('../components/form-errors') %>
  <div class="input-text">
    <label class="style-required" for="first">First name:</label>
    <input
      type="text"
      id="first"
      name="first"
      class=""
      placeholder=""
      value="<%= flash.formData?.first || currentUser.first %>"
      maxlength="50"
      required
    />
  </div>
  <div class="input-text">
    <label class="style-required" for="last">Last name:</label>
    <input
      type="text"
      id="last"
      name="last"
      class=""
      placeholder=""
      value="<%= flash.formData?.last || currentUser.last %>"
      maxlength="50"
      required
    />
  </div>
  <div class="input-file">
    <label class="" for="pic">Upload user image:</label>
    <input
      class=""
      aria-describedby="file-input-help"
      id="pic"
      name="pic"
      type="file"
      accept=".png,.jpg,.jpeg,.webp"
    />
    <p class="text-helper" id="file-input-help">
      * Only PNG, JPG, JPEG or WEBP formats accepted. &lt;10MB file size.
    </p>
  </div>
  <div class="button-group">
    <button
      data-modal-hide="<%= modalId %>"
      type="button"
      class="button-cancel"
    >
      Cancel
    </button>
    <button type="submit" class="button-submit-neutral">Submit</button>
  </div>
</form>
