<form
  action="/user/edit"
  method="post"
  enctype="multipart/form-data"
  class="flex flex-col gap-4"
>
  <!--prettier-ignore-->
  <%- include('../components/form-hidden-input') %>
  <%- include('../components/form-errors') %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-2">
      <label class="" for="pic">Upload user image</label>
      <input
        class="border"
        aria-describedby="file-input-help"
        id="pic"
        name="pic"
        type="file"
        accept=".png,.jpg,.jpeg,.webp"
      />
    </div>
    <p class="mt-2 text-sm text-gray-500" id="file-input-help">
      *Only PNG, JPG, JPEG or WEBP formats accepted. &lt;10MB file size.
    </p>
  </div>
  <div>
    <label for="first">First name:</label>
    <input
      type="text"
      id="first"
      name="first"
      class=""
      placeholder=""
      value="<%= flash.formData?.first || currentUser.first %>"
      maxlength="50"
      required
    />
  </div>
  <div>
    <label for="last">Last name:</label>
    <input
      type="text"
      id="last"
      name="last"
      class=""
      placeholder=""
      value="<%= flash.formData?.last || currentUser.last %>"
      maxlength="50"
      required
    />
  </div>
  <div>
    <button
      type="submit"
      class="bg-brand hover:bg-brand-strong focus:ring-brand-medium shadow-xs rounded-base box-border border border-transparent px-4 py-2.5 text-sm font-medium leading-5 text-white focus:outline-none focus:ring-4"
    >
      Submit
    </button>
    <button
      data-modal-hide="<%= modalId %>"
      type="button"
      class="text-body bg-neutral-secondary-medium border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-neutral-tertiary shadow-xs rounded-base box-border border px-4 py-2.5 text-sm font-medium leading-5 focus:outline-none focus:ring-4"
    >
      Cancel
    </button>
  </div>
</form>
